{% extends "layout.html" %}
{% block title %}Labs{% endblock %}
{% block body %}
<!-- CSS Files -->
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/labscss/base.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/labscss/ForceDirected.css') }}">

<!-- JIT Library File -->
<script src="{{ url_for('static', filename='js/labsjs/jit.js') }}"></script>

<!-- Example File -->
<script src="{{ url_for('static', filename='js/labsjs/example1.js') }}"></script>
<script src="{{ url_for('static', filename='js/labsjs/jsondata.json') }}"></script>
<body onload="init();">
<div id="container">

<div id="left-container">



        <div class="text">
        <h4>
Force Directed Static Graph    
        </h4> 

            A static JSON Graph structure is used as input for this visualization.<br /><br />
            You can <b>zoom</b> and <b>pan</b> the visualization by <b>scrolling</b> and <b>dragging</b>.<br /><br />
            You can <b>change node positions</b> by <b>dragging the nodes around</b>.<br /><br />
            The clicked node's connections are displayed in a relations list in the right column.<br /><br />
            The JSON static data is customized to provide different node types, colors and widths.
            
        </div>

        <div id="id-list"></div>


<div style="text-align:center;"><a href="http://github.com/philogb/jit">See the Example Code and other demos on github</a></div>            
</div>

<div id="center-container">
    <div id="infovis"></div>    
</div>

<div id="log"></div>
</div>

{% endblock %}
