<!doctype html>
<title>fakelbst</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
<div class=container-narrow>
    <div class="masthead">
        <ul class="nav nav-pills pull-right">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="mark">Mark</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <h3 class="muted">fakelbst</h3>
    </div>
</div>
  <div class=body>
  {% block body %}{% endblock %}
  </div>
  <div class=footer>

  </div>
