.container-narrow {
    margin: 0 auto;
    max-width: 800px;
}
.container-narrow > hr {
    margin: 30px 0;
}
.masthead {
    height : 60px;
}
.body {
    margin: 0 auto;
    max-width:760px;
}
.footer {
    position : relative;
}
.footer-login {
    float : right;
}
